
   #a {
    background-color:greenyellow ;
   }

h3{
   color: blueviolet;
   background-color: aquamarine;
}

  p1{
   color: blueviolet;background-color: antiquewhite;
  }
  
  h4,h3{
   color:red ;
  }

Divp2{
color:purple ;
}



  